{% extends "user.html" %} {% block content %}

<div class="container-fluid mb-5 card" style="
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
  ">
  <div class="row">
    <div class="col-md-6">
      <img class="img-responsive" src="{{ url_for('static', filename='images/reservationImg.png') }}"
        style="width: 100%; height: 100%" />
    </div>

    <div class="col-md-6 mt-3">
      <div class="content" style="background-color: none; color: #a5694b">
        <form method="POST" action="">
          {{ form.hidden_tag() }}
          <fieldset class="form-group">
            <legend class="border-bottom-mb-4 mt-4 text-center">
              Reservation Information
            </legend>
            <div class="form-group">
              {{ form.deal.label(class="form-control-label")}} {% if
              form.deal.errors %} {{ form.deal(class="form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.deal.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>

              {% else %} {{ form.deal(class="form-control form-control-lg")}} {%
              endif%}
            </div>
          </fieldset>

          <fieldset class="form-group">
            <legend class="border-bottom-mb-4 mt-4 text-center">
              Personal Details
            </legend>

            <div class="names">
              <div class="form-group">
                {{ form.firstName.label(class="form-control-label")}} {% if
                form.firstName.errors %} {{
                form.firstName(class="form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.firstName.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>

                {% else %} {{ form.firstName(class="form-control
                form-control-lg")}} {% endif%}
              </div>

              <div class="form-group">
                {{ form.lastName.label(class="form-control-label")}} {% if
                form.lastName.errors %} {{ form.lastName(class="form-control-lg
                is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.lastName.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>

                {% else %} {{ form.lastName(class="form-control form-control-lg")}}
                {% endif%}
              </div>
            </div>

            <div class="names">
              <div class="form-group">
                {{ form.pNumber.label(class="form-control-label")}} {% if
                form.pNumber.errors %} {{ form.pNumber(class="form-control-lg
                is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.pNumber.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>

                {% else %} {{ form.pNumber(class="form-control
                form-control-lg")}} {% endif%}
              </div>

              <div class="form-group">
                {{ form.address.label(class="form-control-label")}} {% if
                form.address.errors %} {{ form.address(class="form-control-lg
                is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.address.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>

                {% else %} {{ form.address(class="form-control
                form-control-lg")}} {% endif%}
              </div>
            </div>

            <div class="text-muted text-center">
              <!-- <p>CONFIRM RESERVATION</p> -->

              {{ form.submit(class="btn mt-2 btn-outline-info button-17") }}
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}