<nav style="bacground-color:#A5694B;" class="nav navbar navbar-expand-lg navbar-dark sticky-top shadow-lg" id="nav">
    <a class="navbar-brand" href="/">
        <h1> <img src="{{url_for('static',filename = 'images/logo.png')}}" class="img-fluid m-0" alt="..."></h1>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
        aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon bg-warning"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarToggle">
        <div class="navbar-nav mx-auto">
            <ul class="navbar-nav ps-5">
                <li class="nav-item active">
                    <a style="color:#A5694B; font-family: Inter; font-weight: 500;font-size: 20px;"
                        class="nav-link text-uppercase" href="">Home <span class="sr-only">(current)</span></a>
                </li>
                <li>
                    <a style="color:#A5694B; font-family: Italiana; font-weight: 500;font-size: 20px;"
                        class="nav-link text-uppercase" href="">About Us</a>
                </li>
                <li>
                    <a style="color:#A5694B; font-family: Italiana; font-weight: 500; font-size: 20px;"
                        class="nav-link text-uppercase" href="">Our Deals</a>
                </li>
            </ul>
        </div>
        <div class="navbar-nav">
            <a style="color:#A5694B; font-family: Italiana; font-weight: 500; font-size: 20px;"
                class="nav-item nav-link text-uppercase" href="">Sign Up</a>
            <a style="color:#A5694B; font-family: Italiana; font-weight: 500; font-size: 20px;"
                class="nav-item nav-link text-uppercase" href="">Login</a>
        </div>
    </div>
</nav>